.checkbox {
    appearance: none;
    position: relative;
    vertical-align: middle;
    margin-bottom: 5px;
}

.checkbox::before {
    content:" ";
    display: block;
    background-color: var(--bg-color);
    border: 1px solid #046243;
    height: 20px;
    width: 20px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 250ms ease-out;
}

.checkbox:hover:before {
    background-color: var(--light-main-color);
}

.checkbox:checked::before {
    background-color: #057650;
}

.checkbox::after {
    content: " ";
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid transparent;
    transform: rotate(-30deg);
    background-image: var(--checkbox-svg);
    cursor: pointer;
    max-height: 0;
    overflow: hidden;
    animation: checking ease-out 250ms;
}

.checkbox:checked::after {
    max-height: 20px;
    transform: rotate(0deg);
    animation: unchecking ease-out 250ms;
}

@keyframes unchecking {
    from {
        transform: rotate(-30deg);
        max-height: 20px;
    }
    to {
        transform: rotate(0deg);
        max-height: 20px;
    }
}

@keyframes checking {
    from {
        transform: rotate(0deg);
        max-height: 20px;
    }
    to {
        transform: rotate(-30deg);
        max-height: 20px;
    }
}

.switch {
    position: relative;
    appearance: none;
    vertical-align: middle;
    cursor: pointer;
}

.switch::before {
    content: " ";
    display: block;
    height: 20px;
    width: 35px;
    border-radius: 50px;
    background: var(--light-main-color);
    border: 1px solid #046243;
    transition: background-color 250ms ease-out;
}

.switch:checked::before {
    background: #046243;
}

.switch::after {
    content: "";
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #046243;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    transition: left 250ms ease-out, color 250ms ease-out;
}

.switch:checked::after {
    background: #FFFFFF;
    left: calc(100% - 18px);
}
