<!DOCTYPE html>
<html lang="en">
<head>
    <!-- browser head -->
    <title>Accordion - Elements</title>

    <!-- meta require -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- stylesheets -->
    <link rel="stylesheet" href="../assets/css/user.css">
    <link rel="stylesheet" href="../assets/css/accordion.css">
</head>
<body>

<div style="margin: 15px">
    <h2>Accordion which could be open / close without arrows</h2>
    <div class="accordion" style="max-width: 500px;">
        <div class="accordion-item">
            <input type="checkbox" class="accordion-checkbox">
            <div class="accordion-header">
                <h3 class="accordion-title">Accordion title</h3>
            </div>
            <div class="accordion-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </div>
        </div>
        <div class="accordion-item">
            <input type="checkbox" class="accordion-checkbox">
            <div class="accordion-header">
                <h3 class="accordion-title">Accordion title</h3>
            </div>
            <div class="accordion-body">
                Hey i'm content in accordion !
            </div>
        </div>
        <div class="accordion-item">
            <input type="checkbox" class="accordion-checkbox">
            <div class="accordion-header">
                <h3 class="accordion-title">Accordion title</h3>
            </div>
            <div class="accordion-body">
                Hey i'm content in accordion !
            </div>
        </div>
    </div>
</div>

<div style="margin: 15px">
    <h2>Only one pane in same time with arrow</h2>
    <div class="accordion use-arrow" style="max-width: 500px;">
        <div class="accordion-item">
            <input type="radio" checked name="accordion1" class="accordion-checkbox">
            <div class="accordion-header">
                <h3 class="accordion-title">Accordion title</h3>
            </div>
            <div class="accordion-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </div>
        </div>
        <div class="accordion-item">
            <input type="radio" name="accordion1" class="accordion-checkbox">
            <div class="accordion-header">
                <h3 class="accordion-title">Accordion title</h3>
            </div>
            <div class="accordion-body">
                Hey i'm content in accordion !
            </div>
        </div>
        <div class="accordion-item">
            <input type="radio" name="accordion1" class="accordion-checkbox">
            <div class="accordion-header">
                <h3 class="accordion-title">Accordion title</h3>
            </div>
            <div class="accordion-body">
                Hey i'm content in accordion !
            </div>
        </div>
    </div>
</div>

<div style="margin: 15px">
    <h2>Only one pane in same time with and pane can closeable arrow</h2>
    <div class="accordion use-arrow" style="max-width: 500px;">
        <input type="radio" name="accordion2" class="accordion-checkbox-close">
        <div class="accordion-item">
            <input type="radio" checked name="accordion2" class="accordion-checkbox">
            <div class="accordion-header">
                <h3 class="accordion-title">Accordion title</h3>
            </div>
            <div class="accordion-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </div>
        </div>
        <div class="accordion-item">
            <input type="radio" name="accordion2" class="accordion-checkbox">
            <div class="accordion-header">
                <h3 class="accordion-title">Accordion title</h3>
            </div>
            <div class="accordion-body">
                Hey i'm content in accordion !
            </div>
        </div>
        <div class="accordion-item">
            <input type="radio" name="accordion2" class="accordion-checkbox">
            <div class="accordion-header">
                <h3 class="accordion-title">Accordion title</h3>
            </div>
            <div class="accordion-body">
                Hey i'm content in accordion !
            </div>
        </div>
    </div>
</div>

</body>
</html>
