<!DOCTYPE html>
<html lang="en">
<head>
    <!-- browser head -->
    <title>Checkbox - Elements</title>

    <!-- meta require -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- stylesheets -->
    <link rel="stylesheet" href="../assets/css/user.css">
    <link rel="stylesheet" href="../assets/css/badge.css">
</head>
<body>
<div style="margin: 15px">
    <span class="badge-fill">hello</span>
    <span class="badge-outline">hello</span>
</div>
</body>
</html>
