<!DOCTYPE html>
<html lang="en">
<head>
    <!-- browser head -->
    <title>Buttons - Elements</title>

    <!-- meta require -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- stylesheets -->
    <link rel="stylesheet" href="../assets/css/user.css">
    <link rel="stylesheet" href="../assets/css/button.css">

</head>
<body>
<button class="btn btn-outline use-tooltip" title="Create a beautiful forum">Creates !</button>
<button class="btn btn-fill use-tooltip" title="Create !" placement="top">Creates !</button>
<h1>Mon titre</h1>
<p>Petit paragraphe pour commenter les </p>
<div class="input-button">
    <input type="text" placeholder="Email address">
    <button class="btn btn-fill">Envoyer</button>
</div>
</body>
</html>
